<fieldset class="comparte collapsable">
<include src="./colapsable.html" faClass="fas fa-share-alt" title="Comparte" jsLegend="legend__comparte"></include>

<div class="collapsable--hide">

    <div class="comparte__nav">
<button type="button" class="comparte__nav--button comparte__nav--buttongrey" title="comprueba tus datos antes de pulsar"><i class="far fa-address-card"></i>crear tarjeta</button> 
</div>
<div class="comparte__nav2">
    <h3 class="comparte__nav2--text">La tarjeta ha sido creada:</h3> 
    <a class="comparte__nav2--link" href="https://awesome-profile-card.com?id=A456DF0001" title="ir a tarjeta">https://awesome-profile-card.com?id=A456DF0001</a>
    <nav class="comparte__nav2--button">
        <i class="fab fa-twitter"></i>
        <a class="comparte__nav2--link2" href=https://twitter.com/home?lang=es>compartir en twitter</a>
    </nav>
    </div>
</div>
</fieldset>