<fieldset class="comparte">
<include src="./colapsable.html"></include>
<div class="comparte__nav">
<input type="submit" value="crear tarjeta" class="comparte__nav--button comparte__nav--buttongrey" />
    <!--<i class="fa fa-address-card-o" aria-hidden="true"></i>
    -->
</div>
<div class="comparte__nav2">
    <h3 class="comparte__nav2--text">La tarjeta ha sido creada:</h3> 
    <a class="comparte__nav2--link" href="https://awesome-profile-card.com?id=A456DF0001" title="ir a tarjeta">https://awesome-profile-card.com?id=A456DF0001</a>
    <nav class="comparte__nav2--button">
        <i class="fab fa-twitter"></i>
        <a class="comparte__nav2--link2" href=https://twitter.com/home?lang=es>compartir en twitter</a>
    </nav>
    
</div>
</fieldset>