<fieldset class="design collapsable">
  <include
    src="./colapsable.html"
    faClass="far fa-object-ungroup"
    title="Diseña"
    jsLegend="legend__design"
  ></include>
  <div class="collapsable--hide">
    <div class="design__radio">
      <h3 class="design__radio--title">Colores</h3>

      <input
        name="palette"
        class="design__radio--input js-palette"
        type="radio"
        id="paletteOne"
        value="01"
        checked
      />
      <label
        class="design__radio--label label__palette label__palette--One"
        for="paletteOne"
        >Palette One</label
      >

      <input
        name="palette"
        class="design__radio--input js-palette"
        type="radio"
        id="paletteTwo"
        value="02"
      />
      <label
        class="design__radio--label label__palette label__palette--Two"
        for="paletteTwo"
        >Palette Two</label
      >

      <input
        name="palette"
        class="design__radio--input js-palette"
        type="radio"
        id="paletteThree"
        value="03"
      />
      <label
        class="design__radio--label label__palette label__palette--Three"
        for="paletteThree"
        >Palette Three</label
      >
    </div>
  </div>
</fieldset>
