<fieldset class="diseña">
    <include src="./colapsable.html" faClass="far fa-object-ungroup" title="Diseña"></include>
    <div class="diseña__radio">
        <h3 class="diseña__radio--title">Colores</h3>

        <input name="palette" class="diseña__radio--input" type="radio" id="paletteOne">
        <label class="label__palette label__palette--One" for="paletteOne">Palette One</label>

        <input name="palette" class="diseña__radio--input" type="radio" id="paletteTwo">
        <label class="label__palette label__palette--Two" for="paletteTwo">Palette Two</label>

        <input name="palette" class="diseña__radio--input" type="radio" id="paletteThree">
        <label class="label__palette label__palette--Three" for="paletteThree">Palette Three</label>

    </div>
</fieldset>
