<main class="main--landing">
  <section class="landing">
    <h2 class="landing__title">Crea tu tarjeta de visita</h2>
    <p class="landing__text">
      Crea mejores contactos profesionales de forma fácil y cómoda
    </p>
    <ul class="landing__icons">
      <li>
        <include
          src="./icons.html"
          faClass="far fa-object-ungroup"
          title="Diseña"
        >
        </include>
      </li>
      <li>
        <include src="./icons.html" faClass="far fa-keyboard" title="Rellena">
        </include>
      </li>
      <li>
        <include src="./icons.html" faClass="fas fa-share-alt" title="Comparte">
        </include>
      </li>
    </ul>
  </section>
  <nav class="landing__nav">
    <a
      class="landing__nav--link"
      href="./designcard.html"
      title="Ir a generador de tarjetas"
      >Comenzar
    </a>
  </nav>
</main>
