<section class="preview">
  <button class="preview__reset">
    <i class="far fa-trash-alt"></i><span>Reset</span>
  </button>
  <article class="preview__card">
    <div class="card__name">
      <h2 class="card__name--fullname js-fullnamePreview">Nombre Apellido</h2>
      <h3 class="card__name--ocupation js-positionPreview">
        Front-end developer
      </h3>
    </div>
    <img
      class="card__photo"
      src="./assets/images/image-default.jpg"
      alt="avance de la foto"
    />
    <nav>
      <ul class="card__icons">
        <li>
          <a href="" class="js-phonePreview"
            ><i class="card__icons--icon fas fa-mobile-alt"></i
          ></a>
        </li>
        <li>
          <a href="" class="js-emailPreview"
            ><i class="card__icons--icon far fa-envelope"></i
          ></a>
        </li>
        <li>
          <a href="" class="js-linkedinPreview" target="_blank"
            ><i class="card__icons--icon fab fa-linkedin-in"></i
          ></a>
        </li>
        <li>
          <a href="" class="js-githubPreview" target="_blank"
            ><i class="card__icons--icon fab fa-github-alt"></i
          ></a>
        </li>
      </ul>
    </nav>
  </article>
</section>
