<section class="preview">
  <button class="preview__reset js-btn-reset">
    <i class="far fa-trash-alt"></i><span>Reset</span>
  </button>
  <article class="preview__card js-card palette01">
    <div class="card__name color--side">
      <h2 class="card__name--fullname js-fullnamePreview color--fullname">
        Nombre Apellidos
      </h2>
      <p class="card__name--ocupation js-positionPreview">
        Front-end developer
      </p>
    </div>
    <div class="js__profile-image card__photo"></div>
    <!-- <img
      class="card__photo"
      src="./assets/images/image-default.jpg"
      alt="avance de la foto"
    /> -->
    <nav>
      <ul class="card__icons">
        <li>
          <a href="" class="js-phonePreview"
            ><i class="card__icons--icon color--icon fas fa-mobile-alt"></i
          ></a>
        </li>
        <li>
          <a href="" class="js-emailPreview"
            ><i class="card__icons--icon color--icon far fa-envelope"></i
          ></a>
        </li>
        <li>
          <a href="" class="js-linkedinPreview" target="_blank"
            ><i class="card__icons--icon color--icon fab fa-linkedin-in"></i
          ></a>
        </li>
        <li>
          <a href="" class="js-githubPreview" target="_blank"
            ><i class="card__icons--icon color--icon fab fa-github-alt"></i
          ></a>
        </li>
      </ul>
    </nav>
  </article>
</section>
