<section class="preview">
  <button type="reset" class="preview__reset">
    <i class="far fa-trash-alt"></i><span>Reset</span>
  </button>
  <article class="preview__card">
    <div class="card__name">
      <h2 class="card__name--fullname">Nombre Apellido</h2>
      <h3 class="card__name--ocupation">Front-end developer</h3>
    </div>
    <img
      class="card__photo"
      src="https://via.placeholder.com/240x200.png"
      alt="avance de la foto"
    />
    <nav>
      <ul class="card__icons">
        <li><i class="card__icons--icon fas fa-mobile-alt"></i></li>
        <li><i class="card__icons--icon far fa-envelope"></i></li>
        <li><i class="card__icons--icon fab fa-linkedin-in"></i></li>
        <li><i class="card__icons--icon fab fa-github-alt"></i></li>
      </ul>
    </nav>
  </article>
</section>
