<fieldset class="rellena">
  <div class="rellena__icon">
    <include src="./colapsable.html" faClass="far fa-keyboard" title="Rellena">
    </include>
  </div>
  <div class="field">
    <label class="field__label" for="completeName">Nombre completo </label>
    <input
      class="field__input"
      placeholder="Ej: Sally Jill"
      id="completeName"
      type="text"
      name="completeName"
      required
    />
  </div>

  <div class="field">
    <label class="field__label" for="position">Puesto</label>
    <input
      class="field__input"
      id="position"
      type="text"
      name="position"
      placeholder="Ej: Front-end unicorn"
      required
    />
  </div>

  <div class="field">
    <label class="field__label" for="profile-image">Imagen de perfil</label>
    <div class="rellena-image">
      <input
        class="rellena-image__add"
        id="profile-image"
        type="submit"
        value="Añadir imagen"
      />
      <div class="rellena-image__square"></div>
    </div>
  </div>

  <div class="field">
    <label class="field__label" for="emailAddress">Email</label>
    <input
      class="field__input"
      id="emailAddress"
      type="email"
      name="emailAddress"
      placeholder="Ej: sally.hill@gmail.com"
      required
    />
  </div>

  <div class="field">
    <label class="field__label" for="telephone">Teléfono</label>
    <input
      class="field__input"
      id="telephone"
      type="tel"
      name="telephone"
      placeholder="Ej: 555-55-55-55"
      required
    />
  </div>

  <div class="field">
    <label class="field__label" for="linkedin">Linkedin</label>
    <input
      class="field__input"
      id="linkedin"
      type="text"
      name="linkedin"
      placeholder="Ej: linkedin.com/in/sally-hill"
      required
    />
  </div>
  <div class="field">
    <label class="field__label" for="github">Github</label>
    <input
      class="field__input"
      id="github"
      type="text"
      name="github"
      placeholder="Ej: @sally-hill"
      required
    />
  </div>
</fieldset>
