<fieldset class="rellena collapsable collapsable--on">
  <include
    src="./colapsable.html"
    faClass="far fa-keyboard"
    title="Rellena"
    jsLegend="legend__rellena"
  >
  </include>

  <div class="collapsable--hide">
    <div class="field">
      <label class="field__label" for="completeName"
        >Nombre completo<span> *</span></label
      >
      <input
        class="field__input js-fullname js-input-text"
        placeholder="Ej: Sally Jill"
        id="completeName"
        type="text"
        name="name"
        required
      />
    </div>

    <div class="field">
      <label class="field__label" for="position">Puesto<span> *</span></label>
      <input
        class="field__input js-position js-input-text"
        id="position"
        type="text"
        name="job"
        placeholder="Ej: Front-end unicorn"
        required
      />
    </div>

    <div class="field">
      <label class="field__label" for="profile-image"
        >Imagen de perfil<span> *</span></label
      >
      <div class="rellena-image">
        <input
          type="file"
          class="js__profile-upload-btn rellena-image__hidden"
        />
        <input
          class="rellena-image__add js__profile-trigger"
          id="profile-image"
          type="button"
          value="Añadir imagen"
          name="photo"
          title="sube aquí tu foto, preferentemente cuadrada y bonita"
        />
        <div class="rellena-image__square js__profile-preview"></div>
      </div>
    </div>

    <div class="field">
      <label class="field__label" for="emailAddress"
        >Email<span> *</span></label
      >
      <input
        class="field__input js-email js-input-text"
        id="emailAddress"
        type="email"
        name="email"
        placeholder="Ej: sally.hill@gmail.com"
        required
      />
    </div>

    <div class="field">
      <label class="field__label" for="telephone">Teléfono</label>
      <input
        class="field__input js-phone js-input-text"
        id="telephone"
        type="tel"
        name="phone"
        placeholder="Ej: 555-55-55-55"
      />
    </div>

    <div class="field">
      <label class="field__label" for="linkedin">Linkedin<span> *</span></label>
      <input
        class="field__input js-linkedin js-input-text"
        id="linkedin"
        type="text"
        name="linkedin"
        placeholder="Ej: linkedin.com/in/sally-hill"
        required
      />
    </div>
    <div class="field">
      <label class="field__label" for="github">Github<span> *</span></label>
      <input
        class="field__input js-github js-input-text"
        id="github"
        type="text"
        name="github"
        placeholder="Ej: @sally-hill"
        required
      />
    </div>
  </div>
</fieldset>
