// media queries
@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
  // copy pasta ;) @include tablet {}
}

@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
  // copy pasta ;) @include desktop {}
}

//
@mixin t($fontSize, $lineHeight) {
  font-size: $fontSize;
  line-height: $lineHeight;
  // copy pasta ;) @include t (,)
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin formTitle {
  font-family: $fontMain;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  color: $colorTextDark;
}
@mixin formRellenaLabels {
  font-family: $fontMain;
  font-size: 14px;
  color: $colorBrandDark;
  // copy pasta ;) @include formRellenaLabels
}
@mixin formRellenaInput {
  width: 281px;
  height: 18px;
  padding: 3px 205px 7px 9px;
  margin-top: 7px;
  border: 1px solid $colorBrandLight;
  color: $colorTextLight;
  // copy pasta ;) @include formRellenaInput
}
