// fonts
$fontMain: "Open Sans", sans-serif;
$fontTitle: "Merriweather", serif;
$fontPreview: "Montserrat", sans-serif;

// colors
$colorBrandDark: #114e4e;
$colorBrandMedium: #438792;
$colorBrandLight: #a2deaf;
$colorBrandSide: #e17334;

$colorTextDark: #54585a;
$colorTextLight: #6b6b6b;
$colorTextPlaceholder: #c5c5c5;

$colorBackground: #f5f5f5;
$colorGradientOne: #bfcdd0;
$colorGradientTwo: #dde9ed;

$paletteTwoDark: #420101;
$paletteTwoMedium: #bd1010;
$paletteTwoLight: #e95626;

$paletteThreeDark: #3e5b65;
$paletteThreeMedium: #eab052;
$paletteThreeLight: #a0c0cf;

$colorLine: #d8d8d8;
$colorButtonBackground: #d5d5d5;
$colorTweeter: #00a0f5;
