//palettes
.label__palette {
  display: inline-block;
  color: transparent;
  height: 25px;
  width: 90px;
  &--One {
    background: linear-gradient(
      to right,
      $colorBrandDark 33.33%,
      $colorBrandMedium 33.33%,
      $colorBrandMedium 66.66%,
      $colorBrandLight 66.66%
    );
  }
  &--Two {
    background: linear-gradient(
      to right,
      $paletteTwoDark 33.33%,
      $paletteTwoMedium 33.33%,
      $paletteTwoMedium 66.66%,
      $paletteTwoLight 66.66%
    );
  }
  &--Three {
    background: linear-gradient(
      to right,
      $paletteThreeDark 33.33%,
      $paletteThreeMedium 33.33%,
      $paletteThreeMedium 66.66%,
      $paletteThreeLight 66.66%
    );
  }
}

//design
.design {
  border-bottom: 1px solid $colorLine;
  &__radio {
    margin: 30px 0 0 20px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 45px 45px 45px;
    &--title {
      @include t(14px, 5px);
      font-family: $fontMain;
      text-transform: uppercase;
      color: $colorTextDark;
    }
    &--input {
      height: 17px;
      width: 17px;
      justify-self: end;
      margin: 4px 10px 4px 0;
      grid-column: 2/3;
    }
    &--label {
      grid-column: 3/4;
    }
  }
}
