.footer {
  display: flex;
  border-top: 1px solid $colorLine;
  background-color: white;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 18px 0 20px 0;
  width: 100%;
  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px 0 40px;
  }
  // &:before {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 1px;
  //   content: " ";
  //   background-color: $colorLine;
  // }
  &__small {
    font-family: $fontMain;
    color: $colorTextLight;
    opacity: 0.5;
    @include t(14px, 20px);
    margin-bottom: 12px;
    @include tablet {
      margin: 1.75vh 0 2.1vh 0;
    }
  }
  &__link {
    width: 103px;
    &--logo {
      width: inherit;
    }
  }
}
