.legend {
  width: 100%;
  display: flex;
  align-items: center;
  &__icon {
    &--main {
      color: $colorBrandSide;
      @include t(18px, normal);
    }
    &--arrow {
      font-size: 18px;
      color: $colorTextDark;
    }
  }
  &__title {
    margin-left: 10px;
    flex-grow: 1;
    @include formTitle;
  }
}

.main__form {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom, $colorBackground, white 9%);
  @include tablet {
    flex-direction: row-reverse;
    padding: 20px 40px;
  }
  &--generate {
    width: 329px;
    @include tablet {
      margin-right: 30px;
    }
  }
}

// .form {
//   padding: 0 20px;
// }

// .form {
//   background-image: linear-gradient(to bottom, $colorBackground, white 9%);
// }
