.legend {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px 0 5px 0;
  &__icon {
    &--main {
      color: $colorBrandSide;
      @include t(18px, normal);
    }
    &--arrow {
      font-size: 18px;
      color: $colorTextDark;
    }
  }
  &__title {
    margin-left: 10px;
    flex-grow: 1;
    @include formTitle;
  }
  &:hover {
    cursor: pointer;
  }
}

.main__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  background-image: linear-gradient(to bottom, $colorBackground, white 9%);
  @include tablet {
    flex-direction: row-reverse;
    padding: 1.95vh 40px;
  }
  &--generate {
    padding: 30px 20px;
    width: 329px;
    @include tablet {
      overflow-y: scroll;
      height: 75vh;
      padding: 0;
      margin: 0 30px 0 0;
    }
    // scrollbar - disappears completely on mac, check on other browsers; webkit so works only in chrome & firefox
    &::-webkit-scrollbar {
      width: 1em;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

// .form {
//   background-image: linear-gradient(to bottom, $colorBackground, white 9%);
// }

.collapsable.collapsable--on {
  .collapsable {
    &--hide {
      display: none;
    }
    &--close {
      transform: rotate(180deg);
    }
  }
}
