.page {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 2fr auto;
  justify-items: center;
  background-color: $colorBackground;
}

// .centralColumn {
//   max-width: 1200px;
//   padding: 0 50px;
//   margin: 0 auto;
// }
