.rellena {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  border-bottom: 1px solid $colorLine;
  &__icon {
    margin-bottom: 10px;
  }
}

.field {
  @include formRellenaField;
  &__label {
    @include formRellenaLabels;
  }
  &__input {
    @include formRellenaInput;
    &::placeholder {
      color: $colorTextPlaceholder;
      line-height: 1.43;
      text-indent: 9px;
    }
  }
}

.rellena-image {
  display: flex;
  &__hidden {
    display: none;
  }
  &__add {
    width: 140px;
    height: 30px;
    margin: 7px 20px 0 0;
    border-radius: 3px;
    background-color: $colorBrandSide;
    outline: none;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.68);
    color: white;
    font-family: $fontMain;
    font-size: 14px;
    text-align: center;
    &:hover {
      cursor: pointer;
    }
  }
  &__square {
    flex-direction: row;
    justify-content: right;
    width: 30px;
    height: 30px;
    margin: 7px 20px 0 0;
    border: 1px solid $colorBrandLight;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
